access_key = aviationstack_flight_collection_access_key
SEARCH_FLIGHTS_BASE_URL = https://api.aviationstack.com/v1/flights
GOOGLE_PLACES_BASE_URL = https://places.googleapis.com/v1/places:searchText
GOOGLE_HOTELS_BASE_URL = https://places.googleapis.com/v1/places:searchNearby
GOOGLE_TOURIST_PLACES_BASE_URL =https://places.googleapis.com/v1/places:searchText
X-Goog-Api-Key = google_places_api_key
GROQ_API_KEY = groq_api_key